* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	font-family: open sans, roboto, sans-serif;
}

#nav-caliwan {
	font-family: dancing script, open sans;
}

#my-portfolio {
	font-weight: bold;
	font-size: 3rem;
}

ul #nav-list {
	font-size: 1.5rem;
}
span {
	font-size: 1.75rem;
}

#profile-pic {
	width: 250px;
	height: 250px;
}

#landing {
	background-image: url(./images/profile-background.jpg);
	background-size: 100%;
	min-height: 100vh;
}

#profile-paragraph {
	letter-spacing: 0.1em;
}

#projects {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

#tools {
	background-image: linear-gradient(#552586,#B589D6);
}
#img-tools {
	width: 150px;
}

#exampleFormControlInput1, #exampleFormControlTextarea1 {
	border: 1px solid black;
}

#main-parts {
	font-family: roboto serif;
}

#contact {
	min-height: 80vh;
}

#contact-logo {
	width: 35px;
	height: 35px;
	margin: 0 0.75rem;
}

#footer {
	background-color: #552586;
}

#footer-items {
	font-size: 16px;
}

#footer-p-items {
	font-size: 20px;
}

#toggle-button {
	border: 2px solid white;
	margin-right: 1rem;
}
